:root {
  --border-left-clr: rgb(37, 155, 198);
  --border-rr: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

body {
  overflow-X: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;

  margin-block: 2rem;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.header-logo{
  display: flex;
  gap: 0.5rem;
}

.header-logo-h2 {
  display: none;
}

.header-logo img {
  width: 30px;
}

.nav-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-items {
  list-style-type: none;
  display: flex;
}

.nav-items a {
  text-decoration: none;
  color: white;
  padding: 4px 10px;

  
}

.search-wrapper {
  display: flex;
  align-items: center;

  position: relative;
}

.search-wrapper input {
  --border-rr: 10px;
  width: 0;
  scale: 0;
  outline: none;
  border: none;
  border-left: 4px solid var(--border-left-clr);
  border-radius: var(--border-rr);

  padding: 5px 12px;
  font-size: 18px;
}

.search-wrapper button {
  background: transparent;
  border: none;

  cursor: pointer;
  padding-inline: 5px;

  font-size: 22px;

}

.search-btn{
  position: absolute;
  top: 12%;
  right: 10%;
  width: 20px;

  scale: 110%;
}

.search-close{
  color: lightcoral;
  width: 0;
  scale: 0;
}

.menu-open-btn, .menu-close-btn {
  display: none;
}

.header-middle {
  margin-inline: 3rem;
}


.header-middle-title {
  margin-block: 4rem;
  text-transform: uppercase;

  border-left: 4px solid var(--border-left-clr);
  border-radius: var(--border-rr);

  padding-left: 5px;

  transition: all 200ms ease;
}

.header-middle-title:where(:hover, :focus) {
  transform: translateX(7px);
  cursor: default;
}

.users--card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.user-card {
  border: 1px solid rgba(255 255 255 / 0.5);
  border-radius: var(--border-rr);
  padding: 5px 10px;
}







.search-wrapper, .search-btn, .search-close, .active, .search-wrapper input {
  transition: all 200ms ease;
}


.serach-box .active input {
  width: 250px;
  scale: 100%;
}

.active .search-btn {
  scale: 100%;
}

.active .search-close {
  width: 0;
  scale: 100%;
}


/* for mobile */
@media (max-width: 800px) {

  .menu-icons {
    margin-left: 1rem;
  }

  .menu-open-btn, .menu-close-btn{
    border: none;
    background: transparent;

    font-size: 25px;
    cursor: pointer;
  }
  .header-logo-h2 {
    display: block;
  }

  .menu-open-btn {
    display: block;
  }

  .menu-close-btn {
    color: lightcoral;

    display: block;
    z-index: 999;

    position: absolute;

    top: 5%;
    right: 5%;
  }
  .nav-items {
    display: grid;
    place-items: center;
    
    position: absolute;
    inset: 0;
    
    background-color: white;
    z-index: 999;

    transform: translateX(0%);
    transition: all 300ms ease-in-out;
  }
  .nav-items a {
    font-size: 1.2rem;
    color: black;
  }



  .nav-bar-inactive {
    transform: translateX(100%);

    transition: all 300ms ease-in-out;
  }
}

